<html>
	<body>
		<p>Invitation</p>
		Hi <%= @email %>,

		You're invited to join the test app, please 
		<%= link_to "click here",  "http://#{@base_url}#{new_user_registration_path(auth_token: @token, email: @email)}" %> to sign up
		
		
	</body>	
</html>